<!-- This file is to display each member item in members.md and alumni.md -->
<div class="col">
  <div class="h-100 grid-item">
    <!-- style="flex: 1 1 100%; box-sizing: border-box; margin-bottom: 40px; max-width: 30%;" -->
    {% if member.status == "member" %}
      {% if member.image %}
        {% assign member_image_path = member.image | prepend: 'assets/img/' %}
        {% if member.degree %}
          {% assign member_alt_text = member.name | append: ', ' | append: member.degree %}
        {% else %}
          {% assign member_alt_text = member.name %}
        {% endif %}
      {%
        include figure.liquid
        loading="eager"
        path=member_image_path
        alt=member_alt_text
        class="img-fluid z-depth-1"
      %}
      {% endif %}
      <div class="member-info" style="margin-top: 10px;">
        <p>
          <b>{{ member_alt_text }}</b>
        </p>
        <p>{{ member.position }}</p>
        {% if member.degree == 'Ph.D' %}
          <p>Ph.D. from {{ member.university }}</p>
        {% endif %}
        <p><i class="fa-solid fa-square-envelope fa-lg"></i>&nbsp;{{ member.email }}</p>
        <p><i class="fa-solid fa-crosshairs fa-lg"></i>&nbsp;{{ member.target }}</p>
      </div>

    {% elsif member.status == "alumni" %}
      {% if member.degree %}
        {% assign member_alt_text = member.name | append: ', ' | append: member.degree %}
      {% else %}
        {% assign member_alt_text = member.name %}
      {% endif %}
      <div class="member-info" style="margin-top: 10px;">
        <p>
          <b>{{ member_alt_text }}</b>
        </p>
        <p>{{ member.position }}</p>
        {% if member.degree == 'Ph.D' %}
          <p>Ph.D. from {{ member.university }}</p>
        {% endif %}
        <!-- <p><i class="fa-solid fa-square-envelope fa-lg"></i>&nbsp;{{ member.email }}</p> -->
        <p><i class="fa-solid fa-crosshairs fa-lg"></i>&nbsp;{{ member.target }}</p>
        <p><i class="fa-regular fa-calendar-days fa-lg"></i>&nbsp;{{ member.period }}</p>
        <p><i class="fa-solid fa-building fa-lg"></i>&nbsp;{{ member.current_affiliation }}</p>
      </div>
    {% endif %}
  </div>
</div>
