---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      <!--
        <img
          style="display: inline-block; vertical-align: -5px; max-height: 44px; padding-right: 0px; margin-bottom: -3px;"
          src="{{ 'logo_aeml.png' | prepend: '/assets/img/' }}"
          alt="logo"
        >
      -->
      {% if page.display_title %}
        {% if site.title == 'blank' %}
          <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }}
          {{ site.last_name }}
        {% else %}
          {{ site.title }}
        {% endif %}
      {% endif %}
    </h1>
    <p class="desc" style="padding-left: 55px; margin-top: -6px;">{{ page.subtitle }}</p>
  </header>

  <article>
    {% if page.profile %}
      <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
        {% if page.profile.image %}
          {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
          {% if page.profile.image_circular %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
          {% else %}
            {% assign profile_image_class = 'img-fluid z-depth-1
      rounded' %}
          {% endif %}
          {% capture sizes %}(min-width: {{site.max_width}}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px)
      30vw, 95vw"{% endcapture %}
          {%
            include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=page.profile.image
            cache_bust=true
          %}
        {% endif %}
        {% if page.profile.more_info %}
          <div class="more-info">{{ page.profile.more_info }}</div>
        {% endif %}
      </div>
    {% endif %}

    <div class="clearfix" style="margin-top: 20px; margin-right: 25px; text-align: justify;">
      {{ content }}
    </div>

    <!-- News -->
    {% if page.news and site.announcements.enabled %}
      <h2>
        <a href="{{ '/news/' | relative_url }}" style="color: inherit"><i class="fa-regular fa-bell"></i> news</a>
      </h2>
      {% include news.liquid limit=true %}
    {% endif %}

    <!-- Latest posts -->
    {% if site.latest_posts.enabled %}
      <h2>
        <a href="{{ '/blog/' | relative_url }}" style="color: inherit"><i class="fa-regular fa-newspaper"></i> latest posts</a>
      </h2>
      {% include latest_posts.liquid %}
    {% endif %}

    <!-- Selected papers -->
    {% if page.selected_papers %}
      <h2>
        <a href="{{ '/publications/' | relative_url }}" style="color: inherit"><i class="fa-regular fa-bookmark"></i> selected publications</a>
      </h2>
      {% include selected_papers.liquid %}
    {% endif %}

    <!-- Openings -->
    {% if site.job_openings.enabled %}
      <h2>
        <a href="{{ '/openings/' | relative_url }}" style="color: inherit"><i class="fa-regular fa-id-badge"></i> openings</a>
      </h2>
      <p style="text-align:justify;">
        We are currently seeking enthusiastic postdoctoral researchers and graduate students interested in energy & environmental materials research
        through advanced electron microscopy techniques. We utilizes state-of-the-art TEM/STEM systems, including the Titan, Talos, and Tecnai
        microscopes with various detectors. For more details, please contact <a href="mailto:ywbyeon@kist.re.kr">Dr. Young-Woon Byeon</a>.
      </p>
    {% endif %}

    <div class="clustrmap" style="margin:30px 0 30px 0;">
      <script
        type="text/javascript"
        id="clustrmaps"
        src="//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=300&t=m&d=IkiScMJ1EKDe6FvSMOVWS_6bkVp2P42Pn0EMT85LkQM&co=2d78ad&cmo=3acc3a&cmn=ff5353&ct=ffffff"
        alt="Clustrmap"
      ></script>
    </div>

    <!-- Social -->
    {% if page.social %}
      <div class="social">
        <div class="contact-icons">{% include social.liquid %}</div>

        <div class="contact-note">{{ site.contact_note }}</div>
      </div>
    {% endif %}

    {% if site.newsletter.enabled and site.footer_fixed %}
      {% include scripts/newsletter.liquid center=true %}
    {% endif %}
  </article>
</div>
